DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
DATABASE_SSL=true
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
COOKIE_SECURE=true

ADMIN_NAME=Admin
ADMIN_PHONE=0700000000
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
SETUP_ADMIN_SECRET=CHANGE_THIS_SETUP_SECRET

PORT=8080
NODE_ENV=production
